global:
  resolve_timeout: 5m

templates:
  - /etc/alertmanager/templates/*.tmpl

route:
  receiver: discord
  group_by: ['alertname', 'instance']
  group_wait: 30s
  group_interval: 2m
  repeat_interval: 1h
  routes:
    - matchers:
        - severity="critical"
      receiver: discord
      group_wait: 0s
      group_interval: 1m
      repeat_interval: 30m

receivers:
  - name: discord
    discord_configs:
      - webhook_url: https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN
        send_resolved: true
        message: '{{ template "discord.message" . }}'
