global:
  resolve_timeout: 5m

route:
  receiver: discord
  group_by: ['alertname', 'severity']
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 1h

receivers:
  - name: discord
    discord_configs:
      - webhook_url: https://discord.com/api/webhooks/WEBHOOK_ID/WEBHOOK_TOKEN
        title: >-
          {{ if .CommonAnnotations.title }}
          {{ .CommonAnnotations.title }}
          {{ else }}
          {{ .CommonLabels.alertname }}
          {{ end }}
        message: >-
          {{ range .Alerts -}}
          **Description:** {{ .Annotations.description }}
          **Severity:** {{ .Labels.severity }}
          {{ if .Annotations.runbook }}
          **Runbook:** {{ .Annotations.runbook }}
          {{ end }}

          {{ end }}
        send_resolved: true
