global:
  resolve_timeout: 5m

route:
  receiver: discord
  group_by: ['alertname', 'service', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: discord
    webhook_configs:
      - url: http://prometheus-discord:9094
        send_resolved: true
