global:
  scrape_interval: 10s
  evaluation_interval: 10s
  scrape_timeout: 5s

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: node
    static_configs:
      - targets:
          - host.docker.internal:9100

  - job_name: api_metrics
    metrics_path: /api/metrics
    static_configs:
      - targets:
          - x-nextjs-app:3000

  - job_name: node_exporter
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/*.json
        refresh_interval: 5s

  - job_name: mariadb
    static_configs:
      - targets:
          - x-mariadb-exporter:9104
