{{- define "discord.message" -}}
{{- if eq .Status "firing" -}}🚨 **ALERT FIRING**
{{- else -}}✅ **ALERT RESOLVED**
{{- end }}

**{{- if .CommonAnnotations.title -}}{{ .CommonAnnotations.title }}{{- else -}}{{ .CommonLabels.alertname }}{{- end -}}**

{{- if eq .CommonLabels.severity "critical" }}
@here
{{- end }}

━━━━━━━━━━━━━━━━━━━━━━
🔥 Status   : {{- if eq .Status "firing" -}}FIRING{{- else -}}RESOLVED{{- end }}
🚦 Severity : {{- .CommonLabels.severity | default "Unknown" }}
🧩 Service  : {{- .CommonLabels.service  | default "N/A" }}

{{- range .Alerts }}
━━━━━━━━━━━━━━━━━━━━━━
🖥 Instance : {{- .Labels.instance | default "N/A" }}
📄 Details  : {{- .Annotations.description | default "No Description" }}

{{- if .Annotations.runbook }}
📘 Runbook
https://github.com/bestzige/int531-monitoring-tools/tree/218/{{ .Annotations.runbook }}
{{- end }}

⏱ {{- if eq $.Status "firing" -}}Started{{- else -}}Resolved{{- end }} :
{{- if eq $.Status "firing" -}}
{{ .StartsAt.Format "2006-01-02 15:04:05" }}
{{- else -}}
{{ .EndsAt.Format "2006-01-02 15:04:5" }}
{{- end }}
{{- end }}

{{- if eq .Status "resolved" }}
━━━━━━━━━━━━━━━━━━━━━━
🧘 System recovered and healthy.
{{- end }}
{{- end -}}